# Logs
backend/logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
backend/build/Release
backend/dist/
backend/public/

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
backend/node_modules/
client/node_modules/
# OS
.DS_Store

# IDEs and editors
/.idea
backend/.idea
backend/.project
backend/.classpath
backend/.c9/
backend/*.launch
backend/.settings/
*.sublime-workspace

client/.idea
client/.project
client/.classpath
client/.c9/
client/*.launch
client/.settings/
*.sublime-workspace
backend/.env
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

backend/.vscode/*
backend/!.vscode/settings.json
backend/!.vscode/tasks.json
backend/!.vscode/launch.json
backend/!.vscode/extensions.json

client/.vscode/*
client/!.vscode/settings.json
client/!.vscode/tasks.json
client/!.vscode/launch.json
client/!.vscode/extensions.json


